body {
    background-color:blanchedalmond;
    font-family:cursive
}

body {
    font-size: 18px;
}

h1, footer {
    background-color:saddlebrown;
}

.headingone {
    color:ghostwhite;
}

#my-image { 
    box-shadow:0px 0px 2px 1px black;
}

ul {
    list-style-type: square;
  }

/*
Color Odd List Items
*/
ul li:nth-child(odd){
    background: seashell;
  }

  /* mouse over link */
a:hover {
    color:yellowgreen;
}

a:link {
    text-decoration: none;
  }

  a:link {
    background-color:rgb(173, 70, 158);

  }

  a:hover {
    background-color: lightgreen;
  }

  a {border-style: double;}