body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}
 /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position:absolute;
    top: 60%;
    left: 36%;
    font-size: 1.5cm;
  }
  
.container {
width: 60%;
margin-left: auto;
margin-right: auto;
padding: 0;
}

nav ul li {
    display: inline-block;
    background-color: #D8E8E8;
}

/* Style the navigation menu */
.navbar {
    background-color: #D8E8E8;
    overflow: auto;
  }

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color:black;
    text-decoration: none;
    font-size: 17px;
    width: 30%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }


  