body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}
 /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position:fixed;
    top: 20%;
    left: 37%;
    font-size: 1.5cm;
  }
  

